* {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		content: '';
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

html, body {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 16px;
	background-color: #F8F8F8;
}

input[type="radio"] {
	outline: 0;
}

p {
	color: #8D8D8D;
}

h2 {
	color: #F95738;
	&:first-child {
		margin-top: 0;
	}
}

label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
}

.topbar {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 20px 0;
	.logo {
		display: inline-block;
		width: 200px;
		img {
			max-width: 60px;
			height: auto;
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}
		span {
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
			color: #FFF;
		}
	}
}
.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 300;
	background-image: url( '../img/header.png' );
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: 0 6px 18px rgba( #000, .05 );
	box-shadow: 0 6px 18px rgba( #000, .05 );
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #F95738;
		opacity: .8;
	}
	.topbar {
		position: relative;
	}
}
.header {
	z-index: 400;
	min-height: 100vh;
	background-image: url( '../img/header.png' );
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #F95738;
		opacity: .8;
	}
	.container {
		height: 100vh;
	}
	.content {
		display: table;
		width: 100%;
		padding-top: 71px;
		height: 100vh;
		.vertical-center {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}
		h1 {
			font-size: 50px;
			font-weight: 800;
			color: #FFF;
			text-align: center;
			text-transform: uppercase;
			margin-top: 0;
		}
		p {
			max-width: 440px;
			margin: auto;
			text-align: center;
			color: #FFF;
		}
		.button {
			outline: 0;
			display: block;
			text-align: center;
			font-weight: 800;
			max-width: 260px;
			color: #FFF;
			-webkit-border-radius: 60px;
			border-radius: 60px;
			border: 2px solid #FFF;
			text-transform: uppercase;
			margin: 50px auto 0 auto;
			padding: 18px 15px;
			-webkit-transition: all ease .3s;
			transition: all ease .3s;
			&:hover {
				text-decoration: none;
				background-color: #FFF;
				color: #F95738;
			}
		}
	}
}

.form {
	padding: 111px 0 40px 0;
	min-height: 100vh;
}

.button-sm {
	outline: 0;
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 800;
	color: #F95738;
	font-size: 14px;
	background-color: transparent;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	border: 2px solid #F95738;
	text-transform: uppercase;
	padding: 18px 15px;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
	&:hover {
		text-decoration: none;
		background-color: #F95738;
		color: #FFF;
	}
}

.box {
	border: 1px solid #C9C9C9;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 30px;
	background-color: #FFF;
	-webkit-box-shadow: 0 6px 18px rgba( #000, .05 );
	box-shadow: 0 6px 18px rgba( #000, .05 );
	&--noPadding {
		padding: 0;
	}
	p {
		&:first-child {
			margin-top: 0;
		}
	}
}

.form-group {
	margin-bottom: 30px;
}

.radio-inline {
	line-height: 34px;
	vertical-align: baseline;
	input {
		margin-top: 10px;
	}
}

.table {
	display: table;
	width: 100%;
	font-size: 14px;
	.table-row {
		display: table-row;
		&:first-child {
			.table-cell {
				border-top: 0;
			}
		}
	}
	.table-cell {
		display: table-cell;
		vertical-align: middle;
		padding: 10px 20px;
		border-top: 1px solid #C9C9C9;
		p {
			margin-bottom: 0;
		}
	}
	&.table--info {
		.table-cell {
			width: 50%;
			&:first-child {
				// text-align: right;
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
				p {
					color: darken( #8D8D8D, 10% );
					font-weight: 600;
				}
			}
		}
	}
	&.table--price {
		.table-cell {
			&:first-child {
				width: 70%;
			}
			&:last-child {
				width: 30%;
				text-align: center;
				p {
					color: darken( #8D8D8D, 10% );
					font-weight: 600;
				}
			}
		}
		.table-row {
			&.total {
				font-size: 16px;
				.table-cell {
					&:first-child {
						p {
							font-weight: 600;
							color: darken( #8D8D8D, 10% );
						}
					}
					&:last-child {
						p {
							font-weight: 800;
							color: #F95738;
						}
					}
				}
			}
		}
	}
}

.desglose {
	display: none;
	-webkit-animation: showElements cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s forwards;
	animation: showElements cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s forwards;
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.popup-mask {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba( #000, .8 );
	}
	.popup-content {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -200px;
		width: 400px;
		-webkit-transform: translateY( -50% );
		transform: translateY( -50% );
		background-color: #FFF;
		padding: 30px;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		-webkit-animation: showPopup cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s forwards;
		animation: showPopup cubic-bezier(0.68, -0.55, 0.265, 1.55) .5s forwards;
		h2 {
			text-transform: uppercase;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
			strong {
				font-weight: 600;
				color: darken( #8D8D8D, 10% );;
			}
		}
	}
}

.text-center {
	text-align: center;
}

.buttons-group {
	margin-top: 40px;
}

@media print {
	.form {
		padding: 0;
	}
	.header, .header-fixed, .button-sm {
		display: none;
	}
}

@page {
	size: 220mm 280mm;
	margin: 1.5cm 3cm;
}

@keyframes showPopup {
	0% {
		opacity: 0;
		-webkit-transform: scale( 0.5 ) translateY( -50% );
		transform: scale( 0.5 ) translateY( -50% );
	}
	100% {
		opacity: 1;
		-webkit-transform: scale( 1 ) translateY( -50% );
		transform: scale( 1 ) translateY( -50% );
	}
}

@keyframes showElements {
	0% {
		opacity: 0;
		-webkit-transform: scale( 0.5 );
		transform: scale( 0.5 );
	}
	100% {
		opacity: 1;
		-webkit-transform: scale( 1 );
		transform: scale( 1 );
	}
}